    <%- include ("partials/head") %> 
<body>
    <%- include("partials/header.ejs") %>
    <main class="login">
        <section class="titulos">
            <h1>Inciar sesión</h1>
        </section>
        <section class=forms>
            <div class="carrousel">
                <!-- <i class="fas fa-arrow-left"></i> -->
                <img src="/images/banner-l-r.jpg" alt="banner">
                <!-- <i class="fas fa-arrow-right"></i> -->
            </div>
            <form action="/index" method="post">
                <div class="google">
                    <button type="submit"><i class="fab fa-google"></i> Registrate con Google</button>
                </div>
                <div class="facebook">
                    <button type="submit"><i class="fab fa-facebook"></i> Registrate con Facebook</button>
                </div>
                <div class="email">
                    <label for="user">Email:<input type="email" value="" placeholder="ejemplo@gmail.com" required></label>
                    
                </div>
                <div class="password">
                    <label for="password">Contraseña:<input type="password" name="password" required> </label>
                    
                    <p>¿Olvidaste tu contraseña?</p>
                </div>    
                <div class="submit"><label for="submit"><button type="submit" id="submit">Iniciar sesión</button></label></div>
            </form>
        </section>
        <section class="a-register">
            ¿Todavía no tenés una cuenta? <a href="/registro">Registrate</a>
        </section>
    </main>
    <footer>
        <div class="futer">
            <section class="products-footer">
                <h5>Productos</h5>
                <div class="product-list">
                    <p>Remeras</p>
                    <p>Pantalones</p>
                    <p>Abrigos</p>
                    <p>Accesorios</p>
                </div>
            </section>
            <section class="social-medias">
                <h5>Seguinos</h5>
                <div class="social-links">
                    <div><a href="#"><i class="fab fa-facebook"></i></a></div>
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                    <div><a href="#"><i class="fab fa-whatsapp"></i></a></div>
                </div>
            </section>
            <section class="contact-footer">
                <h5>Contactanos</h5>
                <div class="contact-links">
                    <div><i class="far fa-envelope"></i><a href="#"> xperson@indefined.com</a></div>
                    <div><i class="fab fa-whatsapp"></i><a href="#"> +54 (011) 2222-4444</a></div>
                    <div><i class="fas fa-map-marker-alt"></i><a href="#"> CABA - Argentina</a></div>
                
                
                
            </div>
            </section>
        </div>
        <section class="copy-right">
            <p>© Copyright Indefined - 2021</p>
        </section>

    </footer>
</body>
</html>