<%- include ("partials/head") %> 
    <body>
        <%- include("partials/header.ejs") %>

    <main class="product-detail">
    <section class="container">
            <div class="columna-images">
                <img src="/images/productos/remeras/remera1.1.jpg" id= "ProductImg" alt="REMERA THE NEW OLD SCHOOL - LISA">
                <div class="small-img-row">
                    <div class="small-img">
                        <img src="/images/productos/remeras/remera1.1.jpg" alt="REMERA THE NEW OLD SCHOOL - LISA"  class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/productos/remeras/remera1.2.jpg" alt="REMERA THE NEW OLD SCHOOL - LISA" class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/productos/remeras/remera1.3.jpg" alt="REMERA THE NEW OLD SCHOOL - LISA"  class="small-img">
                    </div>
                    <div class="small-img">
                        <img src="/images/productos/remeras/remera1.3.jpg" alt="REMERA THE NEW OLD SCHOOL -LISA"  class="small-img">
                    </div>
                </div>
            </div>
            <div class="columna-desc">
                <h2 class=product-name>REMERA THE NEW OLD SCHOOL - LISA</h2><h2 class=product-price> $1200</h2>
                
                <form action="/" method="GET">
                    <div class="elec-talle-color">
                        <div class="elec-talle">
                        <label for="prod-talle">Talle:</label>
                            <select name="prod-talle" id="prod-talle">
                                <option value="s" selected>  XS </option>
                                <option value="m">  S </option>
                                <option value="l">  M </option>
                                <option value="xl"> XL </option>
                            </select>
                        </div>
                        <div class="elec-color">
                        <label for="prod-color">Color:</label>
                            <select name="prod-color" id="prod-color">
                                <option value="#ffffff"selected> Marron</option>
                                <option value="#696e6c">Negro</option>
                                <option value="#18c97a">Amarillo</option>
                                <option value="#000000">Gris</option>
                            </select>
                        </div>
                    </div>
                    <div class="cant-elec">
                        <label for="cantidad">Cantidad:</label>
                        <div class="button-cant-elec">
                            <div class="cant-elec"><button class ="menos" type="submit" value><i class="fas fa-minus"></i></button><p class="cantidad">1</p><button class ="mas" type="submit" value><i class="fas fa-plus"></i></button></div>
                        </div>
                    </div>
                        <button type="submit">Agregar al carrito</button>
                </form>
                <h3 class="desc-prod">Detalles del productos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia culpa aliquam perspiciatis eaque quibusdam, hic distinctio error perferendis doloribus ab, nisi deserunt velit minima enim. Officiis laboriosam vero ullam autem?</p>
            </div>
    </section>

    <h3>TAMBIEN TE PUEDE INTERESAR</h3>
    <section class="sec-carrousel">
        <i class="fas fa-arrow-left"></i>
        <article class="product">
                <img class= "img-more" src="/images/productos/remeras/remera2.1.jpg" alt="REMERA THE NEW OLD SCHOOL - CANALLA N1">
                <div class="product-description">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="p-name">REMERA THE OLD SCHOOL <br> CANALLA N1</p>
                    <p class="p-price">$2.750</p>
                    <p class="p-descuentos">20% off</p>
                    <a href="#"><button class="ver-btn">VER</button></a>
                </div>
            </article>
            
            <article class="product">
                <img class= "img-more" src="/images/productos/remeras/remera3.1.jpg" alt="REMERA THE OLD SCHOOL CANALLA N4">
                <div class="product-description">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="p-name">REMERA THE OLD SCHOOL <br> CANALLA N4</p>
                    <p class="p-price">$2.750</p>
                    <p class="descuentos">20% off</p>
                    
                    <a href="#"><button class="ver-btn">VER</button></a>
                </div>
            </article>

            <article class="product">
                <img class= "img-more" src="/images/productos/remeras/remera4.1.jpg" alt="REMERA THE OLD SCHOOL - CANALLA N6">
                <div class="product-description">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="p-name">REMERA THE OLD SCHOOL <br> CANALLA N6</p>
                    <p class="p-price">$2.750</p>
                    <p class="descuentos">20% off</p>
                    <a href="#"><button class="ver-btn">VER</button></a>
                </div>
            </article>

            <article class="product">
                <img class= "img-more" src="/images/productos/remeras/remera5.4.jpg" alt="REMERA ON">
                <div class="product-description">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="p-name">REMERA ON</p>
                    <p class="p-price">$2.750</p>
                    <p class="descuentos">20% off</p>
                    <a href="#"><button class="ver-btn">VER</button></a>
                </div>
            </article>
        <article class="product">
            <img src="/images/productos/accesorios/billetera-collar-azul.jpg" alt="billetera-collar-azul">
        <div class="product-description">
            <i class="fas fa-shopping-cart"></i>
            <p class="p-name">nombre producto</p>
            <p class="p-price">precio</p>
            <p class="p-descuentos">20% off</p>
            <a href="#"><button class="ver-btn">VER</button></a>
        </div>
    </article>

    <article class="product">
            <img src="/images/productos/accesorios/tapaboca-trady-blanco.jpg" alt="tapaboca-trady-blanco">
        <div class="product-description">
            <i class="fas fa-shopping-cart"></i>
            <p class="p-name">nombre producto</p>
            <p class="p-price">precio</p>
            <p class="p-descuentos">20% off</p>
            <a href="#"><button class="ver-btn">VER</button></a>
        </div>
    </article>
        
    <i class="fas fa-arrow-right"></i>
    </section>
    <section class="ver-mas">
        <p>Ver más productos</p>
        <button type="submit"><i class="fas fa-arrow-down"></i></button>
    </section>

    </main>

    

    <footer>
        <div class="futer">
            <section class="products-footer">
                <h5>Productos</h5>
                <div class="product-list">
                    <p>Remeras</p>
                    <p>Pantalones</p>
                    <p>Abrigos</p>
                    <p>Accesorios</p>
                </div>
            </section>
            <section class="social-medias">
                <h5>Seguinos</h5>
                <div class="social-links">
                    <div><a href="#"><i class="fab fa-facebook"></i></a></div>
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                    <div><a href="#"><i class="fab fa-whatsapp"></i></a></div>
                </div>
            </section>
            <section class="contact-footer">
                <h5>Contactanos</h5>
                <div class="contact-links">
                    <div><i class="far fa-envelope"></i><a href="#"> xperson@indefined.com</a></div>
                    <div><i class="fab fa-whatsapp"></i><a href="#"> +54 (011) 2222-4444</a></div>
                    <div><i class="fas fa-map-marker-alt"></i><a href="#"> CABA - Argentina</a></div>
                
                
                
            </div>
            </section>
        </div>
        <section class="copy-right">
            <p>© Copyright Indefined - 2021</p>
        </section>

    </footer>
</body>
</html>