<%- include ("partials/head") %> 
<%- include("partials/header") %> 
<main class="product-edit">
    <section class="forms">
        <form action="/" method="post">
            <label for="name"></label>
            <input type="text" required>

            <label for="description"></label>
            <input type="text" required>

            <label for="image"></label>
            <input type="file" accept="image/png" required>

            <label for="category"></label>
            <input type="select" required>

            <label for="size"></label>
            <input type="select" required>

            <label for="cantidad"></label>
            <input type="text" required>

            <label for="color"></label>
            <input type="color" required>

            <label for="price"></label>
            <input type="text" required>

            <button type="submit">Guardar cambios</button>
        </form>
    </section>
</main>
<%- include("partials/footer") %> 